<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Ligação à base de dados MySQL -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/equipa2</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Gaca3112%</property>
        
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Atualiza automaticamente as tabelas -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mostra SQL gerado no console -->
        <property name="show_sql">true</property>

        <!-- Mapeamento das tuas classes -->
        <mapping class="upt.pl.equipa2.Utilizador"/>
        <mapping class="upt.pl.equipa2.Evento"/>



    </session-factory>
</hibernate-configuration>
