<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Ligação à base de dados MySQL -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernateDemo?createDatabaseIfNotExist=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">tuaSenhaAqui</property>

        <!-- Dialeto do MySQL -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Atualiza automaticamente as tabelas -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mostra SQL gerado no console -->
        <property name="show_sql">true</property>

        <!-- Mapeamento das tuas classes -->
        <mapping class="upt.pl.equipa2.Utilizador"/>
        <mapping class="upt.pl.equipa2.AlunoUpt"/>
        <mapping class="upt.pl.equipa2.Docente"/>
        <mapping class="upt.pl.equipa2.NaoDocente"/>
        <mapping class="upt.pl.equipa2.UtilizadorExterno"/>
        <mapping class="upt.pl.equipa2.Evento"/>



    </session-factory>
</hibernate-configuration>
